h1 {
  color: red;
}
body{
  background:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcura4u.com%2Fblog%2Fthe-essential-first-aid-kit&psig=AOvVaw0qPsJx4exdDHuR9sdf-yfT&ust=1725643796665000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKjt9OKrrIgDFQAAAAAdAAAAABAJ);
background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(245, 255, 250);
  font-family: pink;
  font-size: 24px;
}
h1, p {
  text-align: center;
}
h1 {
  margin-top: 2rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.established {
  font-style: italic;
}