body{
  background:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcura4u.com%2Fblog%2Fthe-essential-first-aid-kit&psig=AOvVaw0qPsJx4exdDHuR9sdf-yfT&ust=1725643796665000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKjt9OKrrIgDFQAAAAAdAAAAABAJ);
background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(245, 255, 250);
  font-family: pink;
  font-size: 24px;
}
h1, p {
  text-align: center;
}
h1 {
  margin-top: 2rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.established {
  font-style: italic;
}

form {
  background-color: rgba(200, 0, 100, 10);
  color: rgb(200, 255, 300);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(200, 215, 0);
  width: 60vw;
  max-width: 700px;
  min-width: 350px;
  margin: 0 auto;
  padding: 15px 15px 25px 15px;
}

label {
  display: block;
}

fieldset {
  border: none;
}

input,
select,
textarea {
  width: 100%;
  margin: 0.1em 0 1em 0;
  min-height: 2em;
  font-size: 0.67em;
}

input,
select {
  border-radius: 5px;
}

textarea {
  min-height: 6.33em;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(215, 90,215);
  border-color: rgb(255, 215, 0);
  color: rgb(245, 255, 250);
  font-size: 1.33rem;
  min-height: 2.5em;
}

input[type="submit"]:hover {
  outline: none !important;
  border: 2px solid rgb(0, 200, 200);
  box-shadow: 0 0 10px rgb(0, 127, 127);
  cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none !important;
  box-shadow: 0 0 7px rgb(0, 255, 255);
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  min-height: unset;
  vertical-align: middle;
}
